# EmailJS Configuration
# Get these from your EmailJS dashboard: https://dashboard.emailjs.com/

VITE_EMAILJS_SERVICE_ID=service_my17otp
VITE_EMAILJS_TEMPLATE_ID=template_dhan09r
VITE_EMAILJS_PUBLIC_KEY=HzoM6WpDtzhn_b9nM
